<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container" >
  <div class="row">
    <div class="col-sm-12">
      <h1>SERP Keyword</h1>

    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="serpCampaign()" novalidate>

        <div class="form-group">
          <label>Select Campaign</label>

          <select name="campaign_id" class="form-control" ng-model="campaign" ng-options="campaign.name for campaign in campaigns track by campaign.created_campaign_id" >
            <option selected>Select Campaign</option>
          </select>
        </div>

        <div class="form-group">
          <label>Select Keyword</label>

          <select name="keyword" class="form-control" ng-model="searchword.keyword" ng-options="searchword.keyword for searchword in searchwords track by searchword.keyword" >
            <option selected>Select Keyword</option>
          </select>
        </div>



        <!--
        <div class="form-group">
          <label>Search Engine</label>

          <select name="searchengine_id" class="form-control" ng-model="keyword.searchengine_id" ng-options="engine.name for engine in allengines track by engine.id" >
            <option selected>Select Search Engine</option>
          </select>
        </div>

        -->

        <div class="form-group">
          <lablel>Keyword serped : </lablel>
          <p>
            {{campaign}}
          </p>
          <p>
            {{searchword.response}}
          </p>
        </div>


        <div class="form-group has-error">
          <p class="help-block" ng-show="form.name.$error.required && form.domain.$error.required && submitted">
            Please enter your campaign name and domain.
          </p>
          <p class="help-block">{{ errors.other }}</p>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-login" type="submit" >
            SERP Keyword
          </button>
        </div>

      </form>
    </div>
  </div>
  <hr>
</div>
